header{
    width: 100%;
    height: 150px;
    margin-top: 40px;
    overflow: auto;
   
}
.deviz{
   
    float: left;
    width: 50%;
    font-size: 18pt;
    font-family:fantasy;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
nav{
    float: right;
    width: 43%; 
    font-size: 18pt;
    padding: 10px;
    margin: 20px;
    
}
a{
    text-decoration: none;
}
.hr1{
    width: 90%; 
}


aside
{ 
	margin-left: 60px;
	width: 1463px;
    
}
.sidebar {
	margin-top: 15px;
	text-align: center;
	font-size: 16px;
 	width: 200px; 
 	float: right;
}
.sidebar_text1{
    position: absolute;
    top		: 250px;
    left: 1400px;
    background: rgba(70, 53, 6, 0.4);
    color: #fff;
    padding: 5px;
}
.sidebar_text2{
    position: absolute;
    top		: 500px;
    left: 1400px;
    background: rgba(0, 170, 238, 0.4);
    color: #fff;
    padding: 5px;
}

.sidebar_text3{
    position: absolute;
    top		: 700px;
    left: 1400px;
    background: rgba(0, 170, 238, 0.4);
    color: #fff;
    padding: 5px;
}
article{
    font-family: Roboto;
}
.container_article_1
{
	margin-top: 50px;
	width: 1104px;
	margin-left: 105px;
}
.title
{
	margin-left: 275px;
	text-decoration: none;
}
h1
{
	color: #555e6d;
	margin: 0;
	padding: 0;
}
.content1
{
	width: 322px;
	float: left;
}
.content1 p
{
	font-size: 14px;
}
.content1:last-child
{
	float: right;
}
.content1:nth-child(2)
{
	margin-left: 80px;
	margin-top: 10px;
}
.container_article_2
{
	margin-top: 10px;
	width: 1104px;
	margin-left: 105px;
}
.content2
{
	float: left;

}
.content2 img{
    position: relative;
    right: 750px;
    top: 100px;
}
.content2 p
{
	font-size: 14px;
}
.content2:last-child
{
	float: right;
	width: 750px;
}
.container_article_3
{
	margin-top: 10px;
	width: 1104px;
	margin-left: 105px;
}
.content3
{
	float: left;
	width: 740px;
}
.content3 p
{
	font-size: 14px;
    margin-top: 80px;
}
.content3:last-child
{
	float: right;
	width: 300px;
}
.hr2{
    width: 100%;
}
.CTA_form{
    margin-left: 450px;
}
.CTA_form1{
    margin-right: 50px;
}
.CTA_form2{
    margin-left: 50px;
}
.CTA_button{
   position: relative;
    top: 30px;
    right: 265px;
}
.hr3{
    margin-top: 50px;
     width: 90%; 
}
footer
{
	margin-left: 104px;
	margin-top: 20px;
	width: 1460px;
	height: 40px;
}
.rights{
    display: inline-block;
    float: left;
}
.footer_text{
    display: inline-block;
    margin-left: 40%;
}
.author{
    display: inline-block;
    float: right;
}
